In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

1. Read the dataset to python environment

In [2]:
iris_data = pd.read_excel(r'C:\Users\user\DSA\Assignments\Assignment Classification\iris.xls')
iris_data

      SL   SW   PL   PW  Classification
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    NaN  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  NaN  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

2. Do the necessary pre-processing steps

In [3]:
iris_data.shape

(150, 5)

In [4]:
iris_data.describe()

               SL          SW          PL          PW
count  143.000000  144.000000  144.000000  150.000000
mean     5.855944    3.049306    3.756250    1.198667
std      0.828168    0.430644    1.761306    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [5]:
iris_data.info()     # null values present

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SL              143 non-null    float64
 1   SW              144 non-null    float64
 2   PL              144 non-null    float64
 3   PW              150 non-null    float64
 4   Classification  150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

Using mean and median imputation to fill the columns having null values i.e. 'SL','SW' and 'PL' columns

In [6]:
mean_SL=iris_data['SL'].mean()
iris_data['SL'].fillna(mean_SL,inplace=True)

median_SW=iris_data['SW'].median()
iris_data['SW'].fillna(median_SW,inplace=True)

mean_PL=iris_data['PL'].mean()
iris_data['PL'].fillna(mean_PL,inplace=True)

iris_data.head()

         SL   SW   PL   PW Classification
0  5.100000  3.5  1.4  0.2    Iris-setosa
1  4.900000  3.0  1.4  0.2    Iris-setosa
2  5.855944  3.2  1.3  0.2    Iris-setosa
3  4.600000  3.1  1.5  0.2    Iris-setosa
4  5.000000  3.6  1.4  0.2    Iris-setosa

In [7]:
iris_data.info()       # no null values present

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SL              150 non-null    float64
 1   SW              150 non-null    float64
 2   PL              150 non-null    float64
 3   PW              150 non-null    float64
 4   Classification  150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [8]:
iris_data['Classification'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Classification, dtype: int64

Dividing data into features and labels

In [9]:
feature_columns = ['SL', 'SW', 'PL','PW']
X = iris_data[feature_columns].values
y = iris_data['Classification'].values

Using Label Encoder to encode the classification column as it is a categorical column

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)

Splitting the dataset into train and test set

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# 1. kNN Classifier

In [12]:
from sklearn.neighbors import KNeighborsClassifier

classifier = KNeighborsClassifier(n_neighbors=3)

classifier.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [13]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)

C:\Users\user\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [14]:
# Evaluating the model
from sklearn.metrics import accuracy_score


accuracy = accuracy_score(y_test, y_pred)*100
print('Accuracy of our model is equal ' + str(round(accuracy, 2)) + ' %.')

Accuracy of our model is equal 100.0 %.

# 2. Logistic Regression

In [15]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()

lr.fit(X,y)

C:\Users\user\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [16]:
# Predicting the Test set results
y_pred_logistic = lr.predict(X_test)

In [17]:
# Evaluating the model
from sklearn.metrics import accuracy_score


accuracy = accuracy_score(y_test, y_pred_logistic)*100
print('Accuracy of our model is equal ' + str(round(accuracy, 2)) + ' %.')

Accuracy of our model is equal 100.0 %.

# 3. SVM Classifier

In [18]:
from sklearn import svm

clf = svm.SVC(kernel='linear')

clf.fit(X_train, y_train)

SVC(kernel='linear')

In [19]:
y_pred_svm = clf.predict(X_test)

In [20]:
accuracy = accuracy_score(y_test, y_pred_svm)*100
print('Accuracy of our model is equal ' + str(round(accuracy, 2)) + ' %.')

Accuracy of our model is equal 100.0 %.

# 4. Decision Tree

In [21]:
from sklearn.tree import DecisionTreeClassifier

dtc = DecisionTreeClassifier()

dtc = dtc.fit(X_train,y_train)

In [22]:
y_pred_dtc = dtc.predict(X_test)

In [23]:
accuracy = accuracy_score(y_test, y_pred_dtc)*100
print('Accuracy of our model is equal ' + str(round(accuracy, 2)) + ' %.')

Accuracy of our model is equal 100.0 %.

# 5. Random Forest Classifier

In [24]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier()

rf.fit(X_train, y_train)

RandomForestClassifier()

In [25]:
y_pred_rf = rf.predict(X_test)

In [26]:
accuracy = accuracy_score(y_test, y_pred_rf)*100
print('Accuracy of our model is equal ' + str(round(accuracy, 2)) + ' %.')

Accuracy of our model is equal 100.0 %.

All classification models are giving 100% accuracy